langchain==0.3.27
langchain-core==0.3.72
langchain-community==0.3.27
langchain-huggingface==0.3.1
langchain-text-splitters==0.3.9
langchain-chroma==0.1.4
langchain-experimental
chromadb
sentence-transformers
ollama
pymupdf
pymupdf4llm
pypdf
gradio
pandas
numpy
duckdb
python-dotenv
tokenizers==0.23.0
rank_bm25
pdfplumber
